/* Global */
*, *::before, *::after {
  box-sizing: border-box;
  font-size: 16px;
}

body {  
  background-image: url('../images/background_main1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: $paragraph-font;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #254636;
}

body::-webkit-scrollbar-thumb {
  background: #34ace0;
}
