/* Colors */
$paragraph-color: #2c2c54;
$paragraph-second-color: #ecf0f1;
$header-color: #2c2c54;
$brand-main-color: #ff0000;
$hoover-background: #34ace0;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$header-font: 'Ranchers', cursive;
$paragraph-font: 'Caveat', cursive;

/* Animations */
$transition: .5s ease;